.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.text-color-black{
    color: #343f52;
}
.rounded-15{
    border-radius: 15px !important;
}
.hovereffect:hover{
    background-color: #683987;
}
.hovereffect:hover .text-color-black, .hovereffect:hover .text-primary{
    color: white !important;
}
.hovereffect:active{
    -webkit-box-shadow: -4px 9px 69px -1px rgba(104,57,135,1);
    -moz-box-shadow: -4px 9px 69px -1px rgba(104,57,135,1);
    box-shadow: -4px 9px 69px -1px rgba(104,57,135,1);
}
.btn-slider:hover {
    box-shadow: none;
    color: #343f52;
}
.btn-slider{
    color: #343f5242;
    padding: 8px;
}
.btn-slider.active{
    color: #683987 !important;
}
.modal-body{
    padding-bottom: 1rem;
}
.rounded-30{
    border-radius: 30px !important;
}
.w-103{
    width: 103px !important;
}
.bg-rounded{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    color: white;
    background-color: #683987;
}
/* .text-neutral-900{
    color: rgb(23 23 23);
} */
/* .bg-bussiness{
    background-image: url("./bussiess.png") !important;
}
header{
    position: fixed;
    width: 100%;
} */